@charset "utf-8";
@import url(style.css);

.cmd-estado {
    color: var(--color1);
    font-style: italic ;
}

.cmd-transicao {
    color: var(--color5);
    font-weight: bolder;
}

.cmd-direcao {
    color: var(--color2);
}


.executar-player {
    color: red;
    font-size: 0.6em;
}

.td-play {
    color: var(--color3);
}

.erro-code {
    color: red;
}