@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --color1: #8C530D;
    --color2: #D99D55;
    --color3: #D9B282;
    --color3a: #dbd7d2;
    --color4: #732002;
    --color5: #260101;

    --fonte-principal: 'Space Mono', monospace;
}

.container {
    max-width: 24160px;
    margin: auto;
    padding: 0px 20px;
}

header {
    padding: 20px;
}

header > h2 {
    font-family: var(--fonte-principal);
    text-align: center;
    margin-bottom: 20px;
    color: var(--color4);
    font-size: 1.8em;
    text-transform: uppercase;
}

main {
    padding: 10px;
}

/* SAÃDA */
.saida {
    margin-bottom: 30px;
}

.estado-atual-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
}

.estado-atual-container > .estado {
    width: 150px;
    height: 150px;
    border: 3px solid var(--color3);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    cursor: default;
    user-select: none;
    background-color: var(--color1);
    color: white;
}

.fitas {
    display: flex;
    overflow-x: auto;
    width: 100%;
    justify-content: flex-start;
    border: 1px solid var(--color1);
}

/* width */
.fitas::-webkit-scrollbar {
    height: 10px;
    display: none;
}

/* Track */
.fitas::-webkit-scrollbar-track {
    background: var(--color3);
}

/* Handle */
.fitas::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--color4);
}

/* Handle on hover */
.fitas::-webkit-scrollbar-thumb:hover {
    background: var(--color5);
  }

.fitas > .cedula {
    display: inline-flex;
    overflow: visible;
    min-width: 50px;
    height: 50px;
    border: 1px solid var(--color1);
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
    background-color: #D99D55;
}

#cabecote {
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: flex-start;
    font-size: 3em;
    margin-top: -25px;
    color: var(--color1);
    font-weight: bolder;
}

.entrada-dados {
    margin-top: 20px;
    border-top: 1px solid var(--color1);
    border-bottom: 1px solid var(--color1);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3a);
}

.entrada-dados > .controls {
    display: flex;
    justify-content: space-between;
}

.entrada-dados > .controls > *{
    margin-left: 5px;
}

.entrada-dados input, .entrada-dados button {
    border-radius: 5px;
}

.entrada-dados input {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.466);
    outline: none;
}

.entrada-dados input[type="range"] {
    padding: 0;
}

.entrada-dados button {
    padding: 0px 10px;
    cursor: pointer;
    transition: background ease-in-out .6s;
    border: 1px solid rgba(0, 0, 0, 0.466);
}

.entrada-dados .btn {
    color: white;
    background-color: #cecece;
}

.entrada-dados .btn.executar {
    background-color: green;
    border-color: rgb(1, 66, 1);
}

.entrada-dados .btn.executar:hover {
    background-color: rgb(1, 66, 1);
}

.entrada-dados .btn.parar {
    background-color: red;
    border-color: rgb(185, 2, 2);
}

.entrada-dados .btn.parar:hover {
    background-color: rgb(185, 2, 2);
}

.entrada-dados input[type="range"] {
    background-color: green;
}

.nontuplas > .inputs {
    margin-bottom: 10px;
}

/* ESTRADA */

.entrada > .nontuplas {
    font-size: 1.3em;
}

.entrada > .nontuplas > .inputs {
    display: block;
    margin-bottom: 25px;
}

.entrada > .nontuplas > .inputs > label {
    color: var(--color4);
    font-weight: bolder;
}

.entrada > .nontuplas > .inputs > span[contenteditable="true"] {
    outline: none;
    border-radius: 10px;
    width: fit-content;
    padding: 10px 0px;
    cursor: text;
    color: var(--color1);
}

.entrada > .nontuplas > .inputs > .const {
    color: var(--color1);
    cursor: help;
}

.entrada > .nontuplas > .inputs > span[contenteditable="true"]:hover,
.entrada > .nontuplas > .inputs > span[contenteditable="true"]:focus {
    border: dashed 1px rgba(0, 0, 0, 0.466);
}

.inputs > span[contenteditable="true"]::after {
    content: "}";
}

.inputs > span#alfaberto-fita::after {
    content: ", \25BA, \411}";
}

.inputs > span[contenteditable="true"]::before {
    content: "{";
}